@using Entities;
@model List<Book>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}


<div class="row center-block box box-success" style="box-shadow:2px 2px 7px 3px gray;">


    <div class="panel panel-success col-md-10 col-md-offset-1" style="margin-top:25px; margin-bottom:25px;">
        <div class="panel-heading">
            <h3 class="text-center">لیست کتاب ها</h3>
        </div>



        <div class="box table-responsive box-body no-padding">

            <table class="table table-responsive  text-center books">
                <thead>
                    <tr style="font-size:15px; font-weight:600;">
                        <td>@Html.DisplayNameFor(model => model[0].Name)</td>
                        <td>@Html.DisplayNameFor(model => model[0].AuthorName)</td>
                        <td>@Html.DisplayNameFor(model => model[0].Edition)</td>
                        <td class="hidden-xs">@Html.DisplayNameFor(model => model[0].PublishYear)</td>
                        <td class="hidden-xs">@Html.DisplayNameFor(model => model[0].Language)</td>
                        @*<td>@Html.DisplayNameFor(model => model[0].BookStatus)</td>*@
                        <td style="min-width:250px" scope="col">عملیات</td>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                <a class="btn btn-xs btn-info" asp-controller="Books" asp-action="Details" asp-route-id="@item.Id" style="margin-right:-10px;"><i class="glyphicon glyphicon-signal"></i> @(item.Name.Length > 10 ? item.Name.Remove(10) + "...." : item.Name) </a>
                            </td>
                            <td>@(item.AuthorName.Length > 10 ? item.AuthorName.Remove(10) + "...." : item.AuthorName)</td>
                            <td>@item.Edition</td>
                            <td class="hidden-xs">@item.PublishYear</td>
                            <td class="hidden-xs">@item.Language</td>

                            @*@if (item.BookStatus == Common.Enums.BookStatus.None)
                                {
                                    <td style="color:indianred">@item.BookStatusNum</td>
                                }
                                @if (item.BookStatus == Common.Enums.BookStatus.Free)
                                {
                                    <td style="color:green">@item.BookStatusNum</td>
                                }
                                else if (item.BookStatus == Common.Enums.BookStatus.Reserved)
                                {
                                    <td style="color:yellow">@item.BookStatusNum</td>
                                }
                                else if (item.BookStatus == Common.Enums.BookStatus.Borrowed)
                                {
                                    <td style="color:red">@item.BookStatusNum</td>
                                }*@


                            <td>
                                <a class="btn btn-xs btn-warning" asp-controller="Books" asp-action="Edit" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i> ویرایش</a>
                                @*<a class="btn btn-xs btn-primary" asp-controller="Books" asp-action="DeleteOneBook" asp-route-isbn="@isbn"><i class="glyphicon glyphicon-minus-sign"></i> کاهش تعداد کتاب</a>*@
                                <a class="btn btn-xs btn-danger" asp-action="Delete" asp-route-gbookid="@item.Id"><i class="glyphicon glyphicon-trash"></i> حذف</a>
                                <a class="btn btn-xs btn-success" asp-action="AddOneBook" asp-controller="Books" asp-area="Admin" asp-route-id="@item.Id"><i class="glyphicon glyphicon-plus"></i>افزودن</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    @*<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="deletemodal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">حذف کتاب</h4>
                    </div>
                    <div class="modal-body">
                        <h3>آیا برای حذف این کتاب اطمینان دارید؟</h3>
                    </div>
                    <div class="modal-footer">
                        <form asp-action="Delete" asp-controller="Books" method="post">
                            <input type="hidden" name="gbookid" id="gbookid" value="" />
                            <button type="button" class="btn btn-primary" data-dismiss="modal">انصراف</button>

                            <button type="submit" class="btn btn-danger">حذف</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>*@
</div>

@section PanelScripts{
    <script>

        //var DeleteAlarm = function (obj) {
        //    var bookid = $(obj).val();
        //    console.log(bookid);
        //    $('#gbookid').val(bookid);

        //}
        var Search = function () {

            var search = $('.search').val();
            var lan = $('.lan').val();
            var ctype = $('.ctype').val();
            var bstatus = $('.bstatus').val();
            var field = $('.field').val();
            var str = '';
            var url = "/Admin/Books/Search?lan=" + lan + "&&search=" + search + "&&ctype=" + ctype + "&&bstatus=" + bstatus + "&&field=" + field + "";
            //window.location.replace(url);
            $.ajax({
                type: "POST",
                url: url,
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                dataType: "json",
                success: function (response) {
                    var dvItems = $(".books tbody");
                    dvItems.empty();

                    $.each((response.data), function (i, item) {
                        console.table(item);
                        //console.log(item.Count);
                        if (item.bookStatus == 0) {
                            str += '<tr>' +
                                '<td><a class="btn btn-xs btn-info" href="Details/' + item.id + '" style="margin-right:-10px;"><i class="glyphicon glyphicon-fullscreen"></i> ' + item.name + ' </a></td>' +
                                '<td>' + item.authorName + '</td>' +
                                '<td>' + item.edition + '</td>' +
                                ' <td>' + parseInt(item.isbns.length) + '</td>' +
                                '<td class="hidden-xs">' + item.publishYear + '</td>' +
                                '<td class="hidden-xs">'+item.language+'</td>'+
                                //'<td style="color:indianred">' + item.bookStatusNum + '</td>' +
                                '<td>' +
                                '<a class="btn btn-xs btn-warning" href="Books/Edit/' + item.id + '" ><i class="glyphicon glyphicon-pencil"></i>  ویرایش</a>' +
                                '<a class="btn btn-xs btn-danger" onclick="DeleteAlarm("#r_' + item.id + '")" data-toggle="modal" data-target="#deletemodal" style="margin-right:5px;margin-left:14px;"><i class="glyphicon glyphicon-trash"></i> حذف</a>' +
                                '<a class="btn btn-xs btn-success" href="/Admin/Books/AddOneBook/'+item.id+'"><i class="glyphicon glyphicon-plus"></i>افزودن</a>'+
                                '<input type="hidden" name="bookid" value=' + item.id + ' id="r_' + item.id + '" />' +
                                '</td>' +
                                '</tr>';
                        }
                        if (item.bookStatus == 1) {
                            str += '<tr>' +
                                '<td><a class="btn btn-xs btn-info" href="Details/' + item.id + '" style="margin-right:-10px;"><i class="glyphicon glyphicon-fullscreen"></i> ' + item.name + ' </a></td>' +
                                '<td>' + item.authorName + '</td>' +
                                '<td>' + item.edition + '</td>' +
                                ' <td>' + parseInt(item.isbns.length)  + '</td>' +
                                '<td class="hidden-xs">' + item.publishYear + '</td>' +
                                '<td class="hidden-xs">'+item.language+'</td>'+
                                //'<td style="color:green">' + item.bookStatusNum + '</td>' +
                                '<td>' +
                                '<a class="btn btn-xs btn-warning" href="Books/Edit/' + item.id + '" ><i class="glyphicon glyphicon-pencil"></i> ویرایش</a>' +
                                '<a class="btn btn-xs btn-danger" onclick="DeleteAlarm("#r_' + parseInt(item.id) + '")" data-toggle="modal" data-target="#deletemodal" style="margin-right:5px;margin-left:14px;"><i class="glyphicon glyphicon-trash"></i> حذف</a>' +
                                '<a class="btn btn-xs btn-success" href="/Admin/Books/AddOneBook/'+item.id+'"><i class="glyphicon glyphicon-plus"></i>افزودن</a>'+
                                '<input type="hidden" name="bookid" value=' + item.id + ' id="r_' + item.id + '" />' +
                                '</td>' +
                                '</tr>';
                        }

                        if (item.bookStatus == 2) {
                            str += '<tr>' +
                                '<td><a class="btn btn-xs btn-info" href="Details/' + item.id + '" style="margin-right:-10px;"><i class="glyphicon glyphicon-fullscreen"></i> ' + item.name + ' </a></td>' +
                                '<td>' + item.authorName + '</td>' +
                                '<td>' + item.edition + '</td>' +
                                ' <td>' + parseInt(item.isbns.length)  + '</td>' +
                                '<td class="hidden-xs">' + item.publishYear + '</td>' +
                                '<td class="hidden-xs">'+item.language+'</td>'+
                                //'<td style="color:yellow">' + item.bookStatusNum + '</td>' +
                                '<td>' +
                                '<a class="btn btn-xs btn-warning" href="Books/Edit/' + item.id + '" ><i class="glyphicon glyphicon-pencil"></i> ویرایش</a>' +
                                '<a class="btn btn-xs btn-danger" onclick="DeleteAlarm("#r_' + item.id + '")" data-toggle="modal" data-target="#deletemodal" style="margin-right:5px;margin-left:14px;"><i class="glyphicon glyphicon-trash"></i> حذف</a>' +
                                '<a class="btn btn-xs btn-info" href="Books/Details/' + item.id + '" style="margin-right:-10px;"><i class="glyphicon glyphicon-fullscreen"></i> جزئیات </a>' +
                                '<a class="btn btn-xs btn-success" href="/Admin/Books/AddOneBook/'+item.id+'"><i class="glyphicon glyphicon-plus"></i>افزودن</a>'+
                                '<input type="hidden" name="bookid" value=' + item.id + ' id="r_' + item.id + '" />' +
                                '</td>' +
                                '</tr>';
                        }

                        if (item.bookStatus == 3) {
                            str += '<tr>' +
                                '<td><a class="btn btn-xs btn-info" href="Details/' + item.id + '" style="margin-right:-10px;"><i class="glyphicon glyphicon-fullscreen"></i> ' + item.name + ' </a></td>' +
                                '<td>' + item.authorName + '</td>' +
                                '<td>' + item.edition + '</td>' +
                                ' <td>' + parseInt(item.isbns.length)  + '</td>' +
                                '<td class="hidden-xs">' + item.publishYear + '</td>' +
                                '<td class="hidden-xs">'+item.language+'</td>'+
                                //'<td style="color:red">' + item.bookStatusNum + '</td>' +
                                '<td>' +
                                '<a class="btn btn-xs btn-warning" href="Books/Edit/' + item.id + '" ><i class="glyphicon glyphicon-pencil"></i> ویرایش</a>' +
                                '<a class="btn btn-xs btn-danger" onclick="DeleteAlarm("#r_' + item.id + '")" data-toggle="modal" data-target="#deletemodal" style="margin-right:5px;margin-left:14px;"><i class="glyphicon glyphicon-trash"></i> حذف</a>' +
                                '<a class="btn btn-xs btn-info" href="Books/Details/' + item.id + '" style="margin-right:-10px;"><i class="glyphicon glyphicon-fullscreen"></i> جزئیات </a>' +
                                '<a class="btn btn-xs btn-success" href="/Admin/Books/AddOneBook/'+item.id+'"><i class="glyphicon glyphicon-plus"></i>افزودن</a>'+
                                '<input type="hidden" name="bookid" value=' + item.id + ' id="r_' + item.id + '" />' +
                                '</td>' +
                                '</tr>';
                        }





                    });
                    dvItems.html('').append(str);
                },
                failure: function (response) {
                    alert(response);
                }
            });

        }

    </script>
}
