@using Entities;
@model List<Book>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
    var userid = TempData["UserId"];
}


<div class="row center-block box box-success" style="box-shadow:2px 2px 7px 3px gray;">


    <div class="panel panel-success col-md-10 col-md-offset-1" style="margin-top:25px; margin-bottom:25px;">
        <div class="panel-heading">
            <h3 class="text-center">لیست کتاب ها</h3>
        </div>

        <div class="panel-body">
         
            <div class="form-row">
                <div class="col-md-6 col-lg-6 col-sm-6">
                    @* متن جستجو *@
                    <div class="form-group">
                        <input type="text" name="search" value="" class="form-control circleInput search" placeholder="جستجو کنید ... " onkeyup="Search()" />
                    </div>
                </div>
              
                <div class="col-md-6 col-lg-6 col-sm-6">

                </div>
            </div>

        </div>


        <div class="box table-responsive box-body no-padding">

            <table class="table table-responsive  text-center books">
                <thead>
                    <tr style="font-size:15px; font-weight:600;">
                        <td>@Html.DisplayNameFor(model => model[0].Name)</td>
                        <td>@Html.DisplayNameFor(model => model[0].AuthorName)</td>
                        <td>@Html.DisplayNameFor(model => model[0].Edition)</td>
                        <td class="hidden-xs">@Html.DisplayNameFor(model => model[0].PublishYear)</td>
                        <td class="hidden-xs">@Html.DisplayNameFor(model => model[0].Language)</td>
                        @*<td>@Html.DisplayNameFor(model => model[0].BookStatus)</td>*@
                        <td style="min-width:250px" scope="col">عملیات</td>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                <a class="btn btn-xs btn-info" asp-controller="Books" asp-action="Details" asp-route-id="@item.Id" style="margin-right:-10px;"><i class="glyphicon glyphicon-signal"></i> @(item.Name.Length > 10 ? item.Name.Remove(10) + "...." : item.Name) </a>
                            </td>
                            <td>@(item.AuthorName.Length > 10 ? item.AuthorName.Remove(10) + "...." : item.AuthorName)</td>
                            <td>@item.Edition</td>
                            <td class="hidden-xs">@item.PublishYear</td>
                            <td class="hidden-xs">@item.Language.ToDisplay()</td>
                            <td>
                                <form asp-action="Borrow" asp-controller="Books" asp-area="Admin" method="post">
                                    <input type="hidden" name="userid" value="@userid" />
                                    <input type="hidden" name="bookid" value="@item.Id" />
                                    <button type="submit" class="btn btn-xs btn-success">
                                        <i class="glyphicon glyphicon-plus"></i>امانت دادن
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    
</div>

@section PanelScripts{
    <script>

        var Search = function () {

            var search = $('.search').val();
            var lan = $('.lan').val();
            var ctype = $('.ctype').val();
            var bstatus = $('.bstatus').val();
            var field = $('.field').val();
            var str = '';
            var url = "/Admin/Books/Search4Borrow?search=" + search + "";
            //window.location.replace(url);
            $.ajax({
                type: "POST",
                url: url,
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                dataType: "json",
                success: function (response) {
                    var dvItems = $(".books tbody");
                    dvItems.empty();

                    $.each((response.data), function (i, item) {
                        console.table(item);

                        if (item.language="Persian") {
                              str += '<tr>' +
                            '<td><a class="btn btn-xs btn-info" href="Details/' + item.id + '" style="margin-right:-10px;"><i class="glyphicon glyphicon-fullscreen"></i> ' + item.name + ' </a></td>' +
                            '<td>' + item.authorName + '</td>' +
                            '<td>' + item.edition + '</td>' +
                            '<td class="hidden-xs">' + item.publishYear + '</td>' +
                            '<td class="hidden-xs">فارسی</td>' +
                                  '<td>' +
                                    '<form action="/Admin/Books/Borrow" method="post">'+
                                    '<input type="hidden" name="userid" value="@userid" />'+
                                   ' <input type="hidden" name="bookid" value="'+item.id+'" />'+
                                   ' <button type="submit" class="btn btn-xs btn-success">'+
                                      '  <i class="glyphicon glyphicon-plus"></i>امانت دادن'+
                                   ' </button>'+
                               ' </form>'+
                            '</td>' +
                                '</tr>';
                        } else {
                             str += '<tr>' +
                            '<td><a class="btn btn-xs btn-info" href="Details/' + item.id + '" style="margin-right:-10px;"><i class="glyphicon glyphicon-fullscreen"></i> ' + item.name + ' </a></td>' +
                            '<td>' + item.authorName + '</td>' +
                            '<td>' + item.edition + '</td>' +
                            '<td class="hidden-xs">' + item.publishYear + '</td>' +
                            '<td class="hidden-xs">انگلیسی</td>' +
                             '<td>' +
                                    '<form action="/Admin/Books/Borrow" method="post">'+
                                    '<input type="hidden" name="userid" value="@userid" />'+
                                   ' <input type="hidden" name="bookid" value="'+item.id+'" />'+
                                   ' <button type="submit" class="btn btn-xs btn-success">'+
                                      '  <i class="glyphicon glyphicon-plus"></i>امانت دادن'+
                                   ' </button>'+
                               ' </form>'+
                            '</td>' +
                                '</tr>';
                        }
                    });
                    dvItems.html('').append(str);
                },
                failure: function (response) {
                    alert(response);
                }
            });

        }

    </script>
}
