@using Entities
@model List<User>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}


<div class="row center-block box box-success" style="box-shadow:2px 2px 7px 3px gray;">


    <div class="panel panel-success col-md-10 col-md-offset-1" style="margin-top:25px; margin-bottom:25px;">
        <div class="panel-heading">
            <h3 class="text-center">لیست پرسنل سایت</h3>
        </div>



        <div class="panel-body">
            <div class="col-md-6 col-lg-6 col-sm-4 col-xs-6">
                <a class="btn btn-primary" asp-controller="Personel" asp-action="Create" asp-area="Admin">
                    <i class="glyphicon glyphicon-plus"></i>
                    افزودن پرسنل
                </a>
            </div>
            <div class="form-row">
                <div class="col-md-6 col-lg-6 col-sm-4 col-xs-6">
                    @* متن جستجو *@
                    <div class="form-group">
                        <input type="text" id="search" name="search" value="" onkeyup="Search()" placeholder="جستجو..." class="form-control input-lg circleInput search" />
                    </div>
                </div>
           
            </div>

        </div>


        <div class="box box-body table-responsive no-padding">

            <table class="table table-responsive text-center books">
                <thead>
                    <tr style="font-size:15px; font-weight:600;">
                        <td>کد ملی</td>
                        <td>@Html.DisplayNameFor(model => model[0].FullName)</td>
                       
                        <td>عملیات</td>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(c=>c.Deleted==false))
                    {
                        <tr>
                            <td>@item.UserName</td>
                            <td>@item.FullName</td>
                          
                            <td>
                                <a class="btn btn-sm btn-warning" asp-controller="Personel" asp-action="Edit" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i> ویرایش</a>
                                <a class="btn btn-sm btn-info" asp-controller="UserAccount" asp-action="ChangeUserPassword" asp-area="Admin" asp-route-id="@item.Id"><i class="glyphicon glyphicon-log-in"></i> تغییر رمز عبور</a>
                                <a class="btn btn-sm btn-danger" onclick="DeleteAlarm('#r_@item.Id')" data-toggle="modal" data-target="#deletemodal"><i class="glyphicon glyphicon-trash"></i> حذف</a>
                                <input type="hidden" name="studentid" value=@item.Id id="r_@item.Id" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="deletemodal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">حذف پرسنل</h4>
                </div>
                <div class="modal-body">
                    <h3>آیا برای حذف این پرسنل اطمینان دارید؟</h3>
                </div>
                <div class="modal-footer">
                    <form asp-action="Delete" asp-controller="Personel" method="post">
                        <input type="hidden" name="gPersonelId" id="gPersonelId" value="" />
                        <button type="button" class="btn btn-primary" data-dismiss="modal">انصراف</button>

                        <button type="submit" class="btn btn-danger">حذف</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section PanelScripts{
    <script>

        var DeleteAlarm = function (obj) {
            var studentid = $(obj).val();
            $('#gPersonelId').val(studentid);

        }
        var Search = function () {

            var search = $('#search').val();
            var str = '';
            $.ajax({
                type: "POST",
                url: "/Admin/Personel/Search?&search="+search,
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                dataType: "json",
                success: function (response) {
                    var dvItems = $(".books tbody");
                    dvItems.empty();
                    console.table(response.data);
                    $.each((response.data), function (i, item) {
                        console.log(item.studentStatus);
                        console.table(item)

                        str += '<tr>' +
                            '<td>' + item["userName"] + '</td>' +
                                '<td>' + item["fullName"] + '</td>' +
                               
                                '<td>' +
                                '<a class="btn btn-sm btn-warning" href="Personel/Edit/' + item["id"] + '" ><i class="glyphicon glyphicon-pencil"></i>  ویرایش</a>' +
                                '<a class="btn btn-sm btn-danger" onclick="DeleteAlarm("#r_' + item["id"] + '")" data-toggle="modal" data-target="#deletemodal" style="margin-right:5px;margin-left:14px;"><i class="glyphicon glyphicon-trash"></i> حذف</a>' +
                                '<input type="hidden" name="studentid" value=' + item["id"] + ' id="r_' + item["id"] + '" />' +
                                '</td>' +
                                '</tr>';
                       
                    dvItems.html('').append(str);
                    });
                },
                failure: function (response) {
                    alert(response);
                }
            });

        }

    </script>
}
