@model Services.Dto.StudentSelectDto

@{
   
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";

}
<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="text-center">اطلاعات @Model.StudentFullName</h2>
    </div>
    <div class="panel-body">
        <style>
            .circleInput {
                border-radius: 3px;
            }
        </style>

        <div class="row center-block box box-primary" style="box-shadow:2px 2px 7px 3px gray;">
            <div class="col-md-4 col-md-offset-2" style="margin-bottom:15px; margin-top:15px;">

                <dl class="dl-horizontal">
                    @*<dt>
                        @Html.DisplayNameFor(model => model.ISBN)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ISBN)
                    </dd>*@
                   
                    <dt>
                        @Html.DisplayNameFor(model => model.StudentFullName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.StudentFullName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.FiledName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FiledName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PenaltyAmount)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PenaltyAmount)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                   
                    <dt>
                        @Html.DisplayNameFor(model=>model.StudentStatus)
                    </dt>
                   
                        @{
                            if (Model.StudentStatus =="روزانه")
                            {
                                <dd style="color:forestgreen">@Model.StudentStatus</dd>
                            }
                            else if (Model.StudentStatus == "شبانه")
                            {
                                <dd style="color:yellow">@Model.StudentStatus</dd>
                            }
                           
                        }
                    
                </dl>
                <a asp-action="Edit" asp-controller="Student" asp-area="Admin" asp-route-id="@Model.Id">ویرایش</a> |
                <a asp-action="Index" asp-controller="Student" asp-area="Admin" >بازگشت</a>

            </div>
        </div>
    </div>
</div>
