@model List<StudentSelectDto>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}


<div class="row center-block box box-success" style="box-shadow:2px 2px 7px 3px gray;">


    <div class="panel panel-success col-md-10 col-md-offset-1" style="margin-top:25px; margin-bottom:25px;">
        <div class="panel-heading">
            <h3 class="text-center">لیست دانشجویان</h3>
        </div>



        <div class="panel-body">
            <div class="col-md-6 col-lg-6 col-sm-4 col-xs-6">
                <a class="btn btn-primary" asp-controller="Student" asp-action="Create" asp-area="Admin">
                    <i class="glyphicon glyphicon-plus"></i>
                    افزودن دانشجو
                </a>
            </div>
            <div class="form-row">
                <div class="col-md-6 col-lg-6 col-sm-4 col-xs-6">
                    @* متن جستجو *@
                    <div class="form-group">
                        <input type="text" id="search" name="search" value="" onkeyup="Search()" placeholder="جستجو..." class="form-control input-lg circleInput search" />
                    </div>
                </div>
           
            </div>

        </div>


        <div class="box box-body table-responsive no-padding">

            <table class="table table-responsive text-center books">
                <thead>
                    <tr style="font-size:15px; font-weight:600;">
                        <td>@Html.DisplayNameFor(model => model[0].UserName)</td>
                        <td>@Html.DisplayNameFor(model => model[0].StudentFullName)</td>
                        <td>@Html.DisplayNameFor(model => model[0].FiledName)</td>
                        <td class="hidden-xs">@Html.DisplayNameFor(model => model[0].PenaltyAmount)</td>
                        <td class="hidden-xs">@Html.DisplayNameFor(model => model[0].StudentStatus)</td>
                       
                        <td>عملیات</td>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.StudentFullName</td>
                        <td>@item.FiledName</td>
                        <td class="hidden-xs">@item.PenaltyAmount</td>
                        @if (item.StudentStatus == "روزانه")
                        {
                            <td class="hidden-xs" style="color:green">@item.StudentStatus</td>

                        }
                        else
                        {
                            <td class="hidden-xs" style="color:indianred">@item.StudentStatus</td>

                        }


                        <td>
                            <a class="btn btn-sm btn-warning" asp-controller="Student" asp-action="Edit" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i> ویرایش</a>
                            <a class="btn btn-sm btn-danger" onclick="DeleteAlarm('#r_@item.Id')" data-toggle="modal" data-target="#deletemodal"><i class="glyphicon glyphicon-trash"></i> حذف</a>
                            <a class="btn btn-sm btn-info" asp-controller="Student" asp-action="Details" asp-route-id="@item.Id" style="margin-right:-10px;"><i class="glyphicon glyphicon-fullscreen"></i> جزئیات </a>
                            <input type="hidden" name="studentid" value=@item.Id id="r_@item.Id" />
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="deletemodal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">حذف دانشجو</h4>
                </div>
                <div class="modal-body">
                    <h3>آیا برای حذف این دانشجو اطمینان دارید؟</h3>
                </div>
                <div class="modal-footer">
                    <form asp-action="Delete" asp-controller="Student" method="post">
                        <input type="hidden" name="gstudentid" id="gstudentid" value="" />
                        <button type="button" class="btn btn-primary" data-dismiss="modal">انصراف</button>

                        <button type="submit" class="btn btn-danger">حذف</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section PanelScripts{
    <script>

        var DeleteAlarm = function (obj) {
            var studentid = $(obj).val();
            $('#gstudentid').val(studentid);

        }
        var Search = function () {

            var search = $('#search').val();
            var str = '';
            $.ajax({
                type: "POST",
                url: "/Admin/Student/Search?&search="+search,
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                dataType: "json",
                success: function (response) {
                    var dvItems = $(".books tbody");
                    dvItems.empty();
                    console.table(response.data);
                    $.each((response.data), function (i, item) {
                        console.log(item["studentStatus"]);
                        console.log(item["userName"]);
                        if (item.StudentStatus == "روزانه") {
                            str += '<tr>' +
                                '<td>' + item["userName"] + '</td>' +
                                '<td>' + item["studentFullName"] + '</td>' +
                                '<td>' + item["filedName"] + '</td>' +
                                '<td class="hidden-xs">' + item["penaltyAmount"] + '</td>' +
                                '<td style="color:green">' + item["studentStatus"] + '</td>' +
                                '<td>' +
                                '<a class="btn btn-sm btn-warning" href="Student/Edit/' + item["id"] + '" ><i class="glyphicon glyphicon-pencil"></i>  ویرایش</a>' +
                                '<a class="btn btn-sm btn-danger" onclick="DeleteAlarm("#r_' + item["id"] + '")" data-toggle="modal" data-target="#deletemodal" style="margin-right:5px;margin-left:14px;"><i class="glyphicon glyphicon-trash"></i> حذف</a>' +
                                '<a class="btn btn-sm btn-info" href="Student/Details/' + item["id"] + '" style="margin-right:-10px;"><i class="glyphicon glyphicon-fullscreen"></i> جزئیات </a>' +
                                '<input type="hidden" name="studentid" value=' + item["id"] + ' id="r_' + item["id"] + '" />' +
                                '</td>' +
                                '</tr>';
                        }
                        else{
                            str += '<tr>' +
                                '<td>' + item["userName"] + '</td>' +
                                '<td>' + item["studentFullName"] + '</td>' +
                                '<td>' + item["filedName"] + '</td>' +
                                '<td class="hidden-xs">' + item["penaltyAmount"] + '</td>' +
                                '<td style="color:indianred">' + item["studentStatus"] + '</td>' +
                               '<td>' +
                                '<a class="btn btn-sm btn-warning" href="Student/Edit/' + item["id"] + '" ><i class="glyphicon glyphicon-pencil"></i>  ویرایش</a>' +
                                '<a class="btn btn-sm btn-danger" onclick="DeleteAlarm("#r_' + item["id"] + '")" data-toggle="modal" data-target="#deletemodal" style="margin-right:5px;margin-left:14px;"><i class="glyphicon glyphicon-trash"></i> حذف</a>' +
                                '<a class="btn btn-sm btn-info" href="Student/Details/' + item["id"] + '" style="margin-right:-10px;"><i class="glyphicon glyphicon-fullscreen"></i> جزئیات </a>' +
                                '<input type="hidden" name="studentid" value=' + item["id"] + ' id="r_' + item["id"] + '" />' +
                                '</td>' +
                                '</tr>';
                        }
                    dvItems.html('').append(str);
                    });
                },
                failure: function (response) {
                    alert(response);
                }
            });

        }

    </script>
}
