@model DashBoardModel
@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_UserPanel.cshtml";
}
<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">

                    <li class="breadcrumb-item bcrumb-1">
                        <a href="index.html">
                            <i class="fas fa-home"></i> داشبورد
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="support-box text-center bg-green">

                <div class="text m-b-10"> رزرو شده</div>
                <h3 class="m-b-0">
                    @Model.ReserveCount
                    <i class="material-icons">trending_up</i>
                </h3>
                <br />
                <medium class="displayblock">آخرین کتاب رزرو شده: @Model.ReserveLastupdate </medium>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="support-box text-center bg-orange">

                <div class="text m-b-10">امانت گرفته شده  </div>
                <h3 class="m-b-0">
                    @Model.BorrowCount
                    <i class="material-icons">trending_up</i>
                </h3>
                <br>
                <medium class="displayblock">آخرین کتاب امانت گرفته شده: @Model.BorrowLastUpdate </medium>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="support-box text-center bg-red">

                <div class="text m-b-10"> جریمه بابت رزرو </div>
                <h3 class="m-b-0">
                    @Model.ReservePunishAmount تومان
                    <i class="material-icons">trending_down</i>
                </h3>
                <br>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="support-box text-center bg-cyan">

                <div class="text m-b-10"> جریمه بابت امانت</div>
                <h3 class="m-b-0">
                    @Model.BorrowPunishAmount تومان
                    <i class="material-icons">trending_down</i>
                </h3>
                <br>
            </div>
        </div>

    </div>
</div>
