@model Web.Model.HomeIndexVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Start slider area -->
<div class="slider-area">
    <div id="slider" class="nivoSlider" style="height:500px;">
        <img style="display:none;height:500px;" src="~/site/img/slider/3.jpg" data-thumb="~/site/img/slider/3.jpg" alt="" title="#htmlcaption3" />
        <img style="display:none;height:500px;" src="~/site/img/slider/4.jpg" data-thumb="~/site/img/slider/4.jpg" alt="" title="#htmlcaption4" />
    </div>
</div>
<!-- End slider area -->
<!-- Start categori area -->
<div class="categori-area">
    <div class="container">
        <div class="row">
            <!-- Start categori menu -->
            <div class="col-xs-12 col-sm-3 col-md-3 pull-right">
                <div class="categori-menu">
                    <div class="sidebar-menu-title">
                        <h2><i class="fa fa-th-list"></i>رشته های مورد نظر  </h2>
                    </div>
                    <div class="sidebar-menu">
                        <ul>
                            @foreach (var item in Model.Fields)
                            {
                                <li><a href="@Url.Action("Index","Book",new { id=item.Id})" class="single-menu">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End categori menu -->

            <div class="purches-progress-area col-xs-12 col-sm-9 col-md-9 pull-left">


                <div class="col-xs-12 col-sm-12">
                    <div class="area-title">
                        <h3>مراحل رزرو کتاب</h3>
                    </div>
                </div>
                <div class="progress-area">
                    <div class="col-sm-3">
                        <div class="progrtee-box icon">
                            <h4>مرحله چهارم</h4>
                            <p>  نهایی کردن و تحویل گرفتن کتاب </p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="progrtee-box icon1">
                            <h4>مرحله سوم</h4>
                            <p>رزرو کردن</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="progrtee-box icon2">
                            <h4>مرحله دوم</h4>
                            <p>اطمینان از آزاد بودن کتاب</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="progrtee-box icon3">
                            <h4>مرحله اول</h4>
                            <p>انتخاب کتاب</p>
                        </div>
                    </div>
                </div>
                <div class="row alert alert-success" style="margin-top:60px;">
                    <h3>برای اطمینان می توانید هر کتاب را به لیست علاقه مندی های خود اضافه کنید </h3>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End categori area -->
<!-- Start featured product -->
<div class="featured-product-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="area-title">
                    <h3>عمومی</h3>
                </div>
            </div>
            <div class="featured-product">
                <div class="featured-item">
                    @foreach (var item in Model.General)
                    {
                        <!-- Start featured item -->
                        <div class="col-sm-3">
                            <div class="featured-inner">
                                <div class="featured-image">
                                    <a asp-action="Details" asp-controller="Book" asp-route-id="@item.Id">
                                        <img style="height:196px;width:196px" src="~/upload/image/book/normalimage/@item.ImageUrl" alt="">
                                    </a>
                                </div>
                                <br />
                                <div class="featured-info">
                                    <a title="مشاهده" asp-action="Details" asp-controller="Book" asp-route-id="@item.Id">@item.Name</a>
                                    <br />
                                    <p>@item.AuthorName</p>
                                    <br />
                                    <div class="featured-button">
                                        <a href="#" class="add-to-card">رزرو کتاب</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End featured item -->

                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End featured product -->
<!-- Start featured product   مهندسی کامپیوتر-->
<div class="featured-product-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="area-title">
                    <h3>مهندسی کامپیوتر</h3>
                </div>
            </div>
            <div class="featured-product">
                <div class="featured-item">
                    @foreach (var item in Model.ComputerBooks)
                    {
                        <!-- Start featured item -->
                        <div class="col-sm-3">
                            <div class="featured-inner">
                                <div class="featured-image">
                                    <a asp-action="Details" asp-controller="Book" asp-route-id="@item.Id">
                                        <img style="height:196px;width:196px" src="~/upload/image/book/normalimage/@item.ImageUrl" alt="">
                                    </a>
                                </div>
                                <br />
                                <div class="featured-info">
                                    <a title="مشاهده" asp-action="Details" asp-controller="Book" asp-route-id="@item.Id">@item.Name</a>
                                    <br />
                                    <p>@item.AuthorName</p>
                                    <br />
                                    <div class="featured-button">
                                        <a href="#" class="add-to-card">رزرو کتاب</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End featured item -->
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End featured product -->
<!-- Start featured product   علوم کامپیوتر-->
<div class="featured-product-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="area-title">
                    <h3>علوم کامپیوتر</h3>
                </div>
            </div>
            <div class="featured-product">
                <div class="featured-item">
                    @foreach (var item in Model.UlomBooks)
                    {
                        <!-- Start featured item -->
                        <div class="col-sm-3">
                            <div class="featured-inner">
                                <div class="featured-image">
                                    <a asp-action="Details" asp-controller="Book" asp-route-id="@item.Id">
                                        <img style="height:196px;width:196px" src="~/upload/image/book/normalimage/@item.ImageUrl" alt="">
                                    </a>
                                </div>
                                <br />
                                <div class="featured-info">
                                    <a title="مشاهده" asp-action="Details" asp-controller="Book" asp-route-id="@item.Id">@item.Name</a>
                                    <br />
                                    <p>@item.AuthorName</p>
                                    <br />
                                    <div class="featured-button">
                                        <a href="#" class="add-to-card">رزرو کتاب</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End featured item -->

                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End featured product -->
<!-- Start featured product   مهندسی صنایع-->
<div class="featured-product-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="area-title">
                    <h3>مهندسی صنایع</h3>
                </div>
            </div>
            <div class="featured-product">
                <div class="featured-item">
                    @foreach (var item in Model.SanayeBooks)
                    {
                        <!-- Start featured item -->
                        <div class="col-sm-3">
                            <div class="featured-inner">
                                <div class="featured-image">
                                    <a asp-action="Details" asp-controller="Book" asp-route-id="@item.Id">
                                        <img style="height:196px;width:196px" src="~/upload/image/book/normalimage/@item.ImageUrl" alt="">
                                    </a>
                                </div>
                                <br />
                                <div class="featured-info">
                                    <a title="مشاهده" asp-action="Details" asp-controller="Book" asp-route-id="@item.Id">@item.Name</a>
                                    <br />
                                    <p>@item.AuthorName</p>
                                    <br />
                                    <div class="featured-button">
                                        <a href="#" class="add-to-card">رزرو کتاب</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End featured item -->

                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End featured product -->
<!-- Start featured product   مهندسی مکانیک-->
<div class="featured-product-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="area-title">
                    <h3>مهندسی مکانیک</h3>
                </div>
            </div>
            <div class="featured-product">
                <div class="featured-item">
                    @foreach (var item in Model.MechanickBooks)
                    {
                        <!-- Start featured item -->
                        <div class="col-sm-3">
                            <div class="featured-inner">
                                <div class="featured-image">
                                    <a asp-action="Details" asp-controller="Book" asp-route-id="@item.Id">
                                        <img style="height:196px;width:196px" src="~/upload/image/book/normalimage/@item.ImageUrl" alt="">
                                    </a>
                                </div>
                                <br />
                                <div class="featured-info">
                                    <a title="مشاهده" asp-action="Details" asp-controller="Book" asp-route-id="@item.Id">@item.Name</a>
                                    <br />
                                    <p>@item.AuthorName</p>
                                    <br />
                                    <div class="featured-button">
                                        <a href="#" class="add-to-card">رزرو کتاب</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End featured item -->

                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End featured product -->
<!-- Start featured product   مهندسی عمران-->
<div class="featured-product-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="area-title">
                    <h3>مهندسی عمران</h3>
                </div>
            </div>
            <div class="featured-product">
                <div class="featured-item">
                    @foreach (var item in Model.OmranBooks)
                    {
                        <!-- Start featured item -->
                        <div class="col-sm-3">
                            <div class="featured-inner">
                                <div class="featured-image">
                                    <a asp-action="Details" asp-controller="Book" asp-route-id="@item.Id">
                                        <img style="height:196px;width:196px" src="~/upload/image/book/normalimage/@item.ImageUrl" alt="">
                                    </a>
                                </div>
                                <br />
                                <div class="featured-info">
                                    <a title="مشاهده" asp-action="Details" asp-controller="Book" asp-route-id="@item.Id">@item.Name</a>
                                    <br />
                                    <p>@item.AuthorName</p>
                                    <br />
                                    <div class="featured-button">
                                        <a href="#" class="add-to-card">رزرو کتاب</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End featured item -->

                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End featured product -->
<!-- Start blog area -->
<div class="blog-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="area-title">
                    <h3>تازه ترین خبرها</h3>
                </div>
            </div>
            <div class="blog-box featured-product-area">
                @foreach (var item in Model.News)
                {
                <div class="col-xs-12 col-sm-4">
                    @if (!string.IsNullOrEmpty(item.Link))
                    {
                        <a href="@item.Link"><img style="height:250px; width:300px;" src="~/upload/image/news/normalimage/@item.Picture" alt=""></a>
                    }
                    else
                    {
                        <img style="height:250px; width:300px;" src="~/upload/image/news/normalimage/@item.Picture" alt="">
                    }
                    <span class="blog-date">@item.InserDateP</span>
                    <div class="blog-info">
                        <h3>@item.Title</h3>
                        <h5>@item.Message</h5>
                    </div>
                </div>

                }
            </div>
        </div>
    </div>
</div>
<!-- End blog area -->
